@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply bg-bg text-gray-100;
    font-feature-settings: "cv11", "ss01";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    @apply bg-bg font-sans text-gray-100;
  }

  /* Scrollbar */
  ::-webkit-scrollbar {
    @apply w-1.5 h-1.5;
  }
  ::-webkit-scrollbar-track {
    @apply bg-bg;
  }
  ::-webkit-scrollbar-thumb {
    @apply rounded-full bg-surface-100;
  }
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-surface-200;
  }

  /* Number inputs */
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    opacity: 0.5;
  }
}

@layer utilities {
  .font-tabular {
    font-variant-numeric: tabular-nums;
  }
}
